.swipeButtons {
  position: fixed;
  bottom: 2vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.swipeButtons__repeat {
  padding: 3vw !important;
  color: #ecb14b !important;
}

.swipeButtons__left {
  padding: 3vw !important;
  color: #f05c6d !important;
}

.swipeButtons__star {
  padding: 3vw !important;
  color: #63b3f5 !important;
}

.swipeButtons__right {
  padding: 3vw !important;
  color: #71e2b1 !important;
}

.swipeButtons__lightning {
  padding: 3vw !important;
  color: #9a64db !important;
}
