.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-bottom: 1px solid white;
}
.header__image {
  object-fit: contain;
  height: 35px;
}

.header__icon {
  padding: 25px;
}
